
{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
  
   <div class="main_container" style="width: 1000px;">

    <div class="container" style="width: 500px;">
      <h3>Data Entry</h3>
      <form action="/" method="post">

        <div class="mb-3">
          <label for="fname" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" id="fname" aria-describedby="fname">
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="lname" aria-describedby="lname">
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type= "number" class="form-control" name="age" id="age" aria-describedby="age">
        </div>        
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>

    <div class = "my-5">
      <h3>Data Table</h3>

      {% if alldata | length == 0 %}

      <div class="alert alert-secondary" role="alert">
        No records
      </div>
       
      {% else %}

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Date/Time</th>
            <th scope="col">Action</th>

          </tr>
        </thead>

        <tbody>
          {% for iter in alldata %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{iter.firstname}}</td>
            <td>{{iter.lastname}}</td>
            <td>{{iter.age}}</td>
            <td>{{iter.datecreated}}</td>
            <td>
            <a href="/update/{{iter.sno}}"><button type="button" class="btn btn-outline-success btn-sm mx-1">Update</button>
            <a href="/delete/{{iter.sno}}"><button type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</button>
          </tr>
          {% endfor %}
          
          <tr></tr>
        </tbody>
      </table>

      {% endif %}        


    </div>
  </div>

{% endblock body %}